@font-face {
  font-family: JetBrainsMono;
  src: url("../fonts/JetBrainsMono-VariableFont_wght.ttf");
}

:root {
    color-scheme: light dark;
    font-family: JetBrainsMono;
}
  
@media (prefers-color-scheme: dark) {
  body { background: #111; color: white; }
}
  
@media (prefers-color-scheme: light) {
  body { background: #fff; color: black; }
}

#editor {
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #222;
  border: none;
  outline: none;
  overflow-y: auto;
  white-space: pre-wrap;
  height: 50%;
}